  <% if @user %>
    <div>
      <p>You are logged in as <%= @user.email %></p>
    </div>
    <%= button_to "Logout", logout_path, method: :delete %>
  <% end %>
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <h1>Welcome to scheduled tweets</h1>
</div>